extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/task_detail.css')
    link(rel='stylesheet', href='/stylesheets/other_task.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    script.
      images="#{task.image_urls}"
    script(type='text/javascript', src='/javascripts/task_details.js')
block content
  section.wrapper
    ul.column_list
      li.info
        div.title
          h2 #{task.title}
        div.lower
          h3.bold Description
          p #{task.description}
        div.lower
          h3.bold Due Date
          h3.date #{task.due_date}
        div.lower
          h3.bold Location
          h3 #{task.location}
        div.lower
          h3.bold Priority
          case task.priority
            when '1'
              div.priority.low
                h3 Low
            when '2'
              div.priority.medium
                h3 Medium
            when '3'
              div.priority.urgent
                h3 Urgent
            when '4'
              div.priority.emergency
                h3 Emergency
            default
              break
        div.lower
          h3.bold Type
          case task.type
            when 'Recurring'
              h3 Recurring
            when 'Default'
              h3 One Time
        div.lower
          if task.trip_id != null
            h3.bold Trip
            h3 #{task.trip_date}
            br
            a(href='/database/trip/5cab8d3665a77c384463a361').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_info Trip info
            //- a(href='/database/trip/'+task.trip_id).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_info Trip info
            //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_join Join trip
          else if task.trip_id == null
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_add Add to trip
            
      li.images.scrollable_list
        div.list_title
          h2 Images
          //- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.add_image_button Add Image
        ul.list_container
          if undefined!=task.image_urls
            each image in task.image_urls
              if !!image
                li.image_card.mdl-card.mdl-shadow--2dp
                  div.mdl-card__title.mdl-card--expand
                  div.mdl-card__actions
                    a(href=image, target="_blank").image_card__filename #{image}
