extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    script(type='text/javascript', src='/javascripts/admin.js')
block content
  section.wrapper
    ul.column_list
      li.scrollable_list.inbox
        div.list_title
          h2 Inbox
          i.fas.fa-inbox
        div.list_container
          ul.card_list
            each inbox in data.inbox
              li.card_item
                h3.card_date #{inbox.creation_date}
                h3.card_location #{inbox.location}
                p.card_description #{inbox.description}
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_rank Rank
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_button.card_merge Merge
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_delete Delete
      li.scrollable_list.recurring
        div.list_title
          h2 Recurring
          i.fas.fa-calendar-alt
          form(action='#')
            div.mdl-textfield.mdl-js-textfield
              input(type='text', name='title', value='', id="search").mdl-textfield__input.search_field
              label(for="search").mdl-textfield__label.search_label Search...
              i.material-icons.mdl-textfield__label__icon search
        div.list_container
          ul.card_list
            each recurring in data.recurring
              if recurring.priority=='Low'
                li.card_item.card_tag--low
                  h3.card_date #{recurring.due_date}
                  h3.card_location #{recurring.location}
                  p.card_description #{recurring.description}
                  //- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit Edit
                  a(href='/database/task/'+recurring.id+'/update').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit.a_button Edit
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_delete Delete
              else if recurring.priority=='Medium'
                li.card_item.card_tag--medium
                  h3.card_date #{recurring.due_date}
                  h3.card_location #{recurring.location}
                  p.card_description #{recurring.description}
                  //- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit Edit
                  a(href='/database/task/'+recurring.id+'/update').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit.a_button Edit
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_delete Delete
              else if recurring.priority=='Urgent'
                li.card_item.card_tag--urgent
                  h3.card_date #{recurring.due_date}
                  h3.card_location #{recurring.location}
                  p.card_description #{recurring.description}
                  //- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit Edit
                  a(href='/database/task/'+recurring.id+'/update').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit.a_button Edit
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_delete Delete
              else if recurring.priority=='Emergency'
                li.card_item.card_tag--emergency
                  h3.card_date #{recurring.due_date}
                  h3.card_location #{recurring.location}
                  p.card_description #{recurring.description}
                  //- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit Edit
                  a(href='/database/task/'+recurring.id+'/update').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_edit.a_button Edit
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.card_button.card_delete Delete
      li.new
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.new_button.new_task 
          i.fas.fa-thumbtack
          h3 New Task
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.new_button.new_trip
          i.fas.fa-hiking
          h3 New Trip