extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/admin.css')
  link(rel='stylesheet', href='/stylesheets/admin_form.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script.
    date="#{task.due_date}"
  script(type='text/javascript', src='/javascripts/admin_form.js')
block content
  section.wrapper
    ul.column_list
      li.form
        form(action='', id="task_form", method="POST")
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type='text', name='title', value=(undefined===task ? '' : task.title), id="title").mdl-textfield__input
            label(for="title").mdl-textfield__label Title
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              textarea(type='text', rows='5', name='description', id='description').mdl-textfield__input=(undefined===task ? '' : task.description)
              label(for='description').mdl-textfield__label Description
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type='date', name='due_date', value=(undefined===task ? '' : task.due_date), id="due_date").mdl-textfield__input
            label(for="due_date").mdl-textfield__label Due Date
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='location', name='location').mdl-textfield__input
                option(hidden disabled selected value)
                option(value='P0', selected=task.location == 'P0') P0
                option(value='P1', selected=task.location == 'P1') P1
                option(value='P2', selected=task.location == 'P3') P2
                option(value='P3', selected=task.location == 'P3') P3
                option(value='P4', selected=task.location == 'P4') P4
                option(value='P5', selected=task.location == 'P5') P5
                option(value='P6', selected=task.location == 'P6') P6
                option(value='P7', selected=task.location == 'P7') P7
                option(value='P8', selected=task.location == 'P8') P8
                option(value='P9', selected=task.location == 'P9') P9
                option(value='P10', selected=task.location == 'P10') P10
                option(value='P11', selected=task.location == 'P11') P11
                option(value='P12', selected=task.location == 'P12') P12
                option(value='P13', selected=task.location == 'P13') P13
                option(value='PG', selected=task.location == 'PG') PG
                option(value='PD', selected=task.location == 'PD') PD
                option(value='PRF', selected=task.location == 'PRF') PRF
                option(value='B1', selected=task.location == 'B1') B1
                option(value='B2', selected=task.location == 'B2') B2
                option(value='B3', selected=task.location == 'B3') B3
                option(value='BHM', selected=task.location == 'BHM') BHM
              label(for='location').mdl-textfield__label Location
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='priority', name='priority').mdl-textfield__input
                option(hidden disabled selected value)
                option(value='Low', selected=task.priority == 'Low').low Low
                option(value='Medium', selected=task.priority == 'Medium').medium Medium
                option(value='Urgent', selected=task.priority == 'Urgent').urgent Urgent
                option(value='Emergency', selected=task.priority == 'Emergency').emergency Emergency
              label(for='priority').mdl-textfield__label Priority
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='trip_id', name='trip_id').mdl-textfield__input
                option(hidden disabled selected value)
                each val in trips
                  option(value=val.date, selected=val.date == task.trip_id)=val.date
              label(for='trip_id').mdl-textfield__label Trip
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='type', name='type').mdl-textfield__input
                option(value='Default' selected) Default
                option(value='Recurring') Recurring
              label(for='type').mdl-textfield__label Type
        button(type='submit', form='task_form', value='Submit').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.submit_task_button Submit Task
      li.images.scrollable_list
        div.list_title
          h2 Images
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.add_image_button Add Image
        ul.list_container
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image1.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image2.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image3.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image4.jpg
      button(type='submit', form='task_form', value='Submit').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.submit_task_button_narrow Submit Task
