extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/report.css')
    script.
        date = "#{trip.date}";
    script(src='/javascripts/trip.js')
block content
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
            h3 
            h5 Sections Covered: #{trip.sections_covered}
            h5 Number of Attendees: #{trip.attendees}
            h5 Leader: #{trip.leader}
            h5 Workers:
            ul
                each val in trip.workers
                    li= val
            h5 Volunteer Hours
            ul
                li Total: #{trip.volunteer_hours[0]}
                li Trail: #{trip.volunteer_hours[1]}
                li Driving: #{trip.volunteer_hours[2]}
            h5 Summary: #{trip.summary}
            h5 Comments: #{trip.comments}
            h5 Complete: #{trip.complete}

            